<h1>{{ title }}</h1>


<form method="post" action="/register">
  <div>
    <input type="text" name="username" />
  </div>
  <div>
    <input type="password" name="password" />
  </div>
  <div>
    <input type="password-confirm" name="password-confirm" />
  </div>
  <div>
    <button type="submit">Reigster</button>
  </div>
</form>

{{ body }}